.counterContainer {
    background-color: aqua;
    height: auto;
    width: 300px;
    padding: 50px 10px;
    text-align: center;
}

.counterDisplay {
    font-size: 50px;
}

.button {
    height: 30px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    background-color: hsl(271, 81%, 60%);
    color: white;
    border: none;
    margin: 0 10px;
}

.button:hover {
    background-color: hsl(271, 81%, 40%);

}